body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-header {
  background-color: #fff5e0;
}

.fa-heart {
  color: #562349;
  background-color: #f64b9b;
}

.fas {
  color: #c388a4;
}

.main-sidebar {
  background: #562349;
  opacity: 0.5;
}
